/* Google Fonts */
.merriweather-normal {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }


/* Common Styles */
.cl-white {
    color: white;
}
.cl-red {
    color: #FF0000;
}
.cl-title {
    color: #070211;    /* Same as rgba(7, 2, 17, 1) */
}
.cl-description {
    color: rgba(7, 2, 17, 0.6);
}


/* Section-1 */
.section-1 {
    background-image: linear-gradient(
        180deg, 
        rgb(9, 9, 9) 3.482%,
        rgba(16, 16, 16, 0) 101.632%
    ),
    url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    border: none;
    border-radius: 16px;
    margin: 50px 140px 0px;
}
.section-1-div {
    max-width: 632px;
    justify-self: center;
    padding-top: 140px;
}
.sec-1-description {
    font-size: 32px;
    text-align: center;
}
.sec-1-title {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}



/* Section-2 */
.section-2 {
    max-width: 1320px;
    margin: 0px 140px;
}
.section-2-div {
    text-align: center;
}
.sec-2-title1 {
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}
.sec-2-title2 {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 16px; */
}
.sec-2-title3 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
.sec-2-image {
    justify-self: center;
}


/* Section-3 */
.section-3 {
    background-image: linear-gradient(
        90deg, 
        rgb(9, 9, 9) 3.482%,
        rgba(16, 16, 16, 0) 101.632%
    ),
    url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    border: none;
    border-radius: 16px;
    margin: 50px 140px 0px;

    display: flex;
    justify-content: space-around;
}
.section-3-div {
    max-width: 632px;
    padding-top: 100px;
    padding-left: 60px;
}
.sec-3-description {
    font-size: 18px;
    text-align: left;
}
.sec-3-title {
    font-size: 64px;
    font-weight: 900;
    text-align: left;
}
.sec-3-join {
    font-size: 20px;
    font-weight: bold;
}
.sec-3-image {
    padding-top: 80px;
    padding-right: 70px;
}
.not-btn {
    display: inline-block;   /*Just so, mouse cursor not icon dont change when hover, the whole line*/
    text-decoration: none;
}


/* Section-4 */
.section-4 {
    background-image: linear-gradient(
        180deg, 
        rgb(255, 225, 225) 1%,
        rgba(255, 0, 0, 0) 90%
    );
    max-width: 1320px;
    border-radius: 16px;
    margin: 120px 140px 0px;
    padding: 100px 0px 110px 0px;
}
.sec-4-div {
    text-align: center;
}
.sec-4-text{
    font-size: 32px;
    font-weight: 600;
}
.sec-4-btn {
    border: none;
    border-radius: 8px;
    background-color: #FF0000;
    padding: 16px 32px;

    margin-top: 20px;

    font-size: 25px;
    font-weight: bold;
    color: white;
}


/* Section 5 */

/*  DO NOT use this, this does not reset margin within section */
.section-5 h4, .section-5 p {
    margin: 0;                      
}

.section-5 {
    max-width: 1320px;
    margin: 120px 140px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-5-div-1 {
    max-width: 393px;
}
.sec-5-div-3 {
    max-width: 276px;
}
.sec-5-img1 {
    border: 15px solid red;
    border-radius: 50%;
    padding: 25px;
}
.sec-5-title1{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.sec-5-title2 {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}
.sec-5-title3 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 110px;
}
.sec-5-description {
    font-size: 20px;
}
.sec-5-img2 {
    padding-top: 43px;
}



/* Section 6 */

/*  DO NOT use this, this does not reset margin within section */
.section-6 h4,.section-6 h2, .section-6 p {
    margin: 0;                      
}

.section-6 {
    max-width: 1320px;
    margin: 120px 140px 0px;
}
.sec-6-div-1 {
    text-align: center;
    max-width: 1068px;
    margin: 0px 126px 64px;
}
.sec-6-title1 {
    font-size: 24px;
    font-weight: 500;
}
.sec-6-title2 {
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 28px;
}
.sec-6-description {
    font-size: 20px;
    font-weight: 500;
}
.sec-6-div-2 {
    /* max-width: 1320px; */
    height: 662px;
    background-image: url(../images/Group\ 75.png), url(../images/Rectangle\ 2.png), url(../images/Group\ 44.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left, bottom, top right;
}



/* Section 7 */

/*  DO NOT use this, this does not reset margin within section */
.section-7 h4, .section-7 h2, .section-7 p {
    margin: 0;                      
}

.section-7 {
    max-width: 1320px;
    margin: 120px 140px 0px;
}
.sec-7-div-1 {
    text-align: left;
    max-width: 896px;
}
.sec-7-title1 {
    font-size: 24px;
    font-weight: 500;
}
.sec-7-title2 {
    font-size: 48px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 22px;
}
.sec-7-description {
    font-size: 20px;
}
.sec-7-div-2 {
    margin-top: 48px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 24px;
}


/* Section 8 */

/*  DO NOT use this, this does not reset margin within section */
.section-8 h2, .section-8 p {
    margin: 0;                    
}

.section-8 {
    max-width: 1320px;
    margin: 120px 140px;
    background-color: rgba(255, 0, 0, 0.05);
}
.sec-8-div-1 {
    text-align: center;
    max-width: 896px;
    margin: 80px 212px 48px;
    padding-top: 80px;
}
.sec-8-title {
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 22px;
}
.sec-8-description {
    font-size: 20px;
}
.sec-8-div-2 {
    border-radius: 50px;
    margin: 0px 330px 80px;       /*margin: 0px 336px 80px;*/
    padding-bottom: 80px;
}
.section-8 input[type="email"] {
    border: none;
    width: 438px;
    height: 72px;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
}
.section-8 input[type="submit"] {
    border: none;
    width: 210px;
    height: 72px;
    background-color: #FF0000;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
}